<section id="new-comment" class="form-border">
  <h2 class="form-title">New Comment</h2>
  <%= form_with model: @comment, url: post_comments_url(@post), local: true, class: 'form' do |form| %>

    <div class="field flex columns">
      <%= form.label :comment %><br />
      <%= form.text_area :text, size: "60x14", autofocus: true, class: 'input' %>
    </div>

    <div class="form-actions flex">
      <%= form.submit 'Create Comment', class: 'btn btn-frm' %>
    </div>
  <% end %>
</section>
