<div class="photo">
  <%= image_tag user.photo %>
</div>
<div class="description flex columns">
  <div class="user-title">
    <h2><%= user %></h2>
    <% if local_assigns[:create_post] %>
      <%= link_to 'New Post', new_user_post_path(current_user), class: 'btn btn-new' %>
    <% end %>
  </div>
  <%= render partial: 'counter', locals: { counter: { name: 'Total Posts', total: user.posts_counter } } %>
</div>
