<div class="photo">
  <%= image_tag user.photo.nil? ? "https://makeplaceholder.com?size=100&bg=f4bcae&text=#{user.name.downcase}&tcolor=ffffff&as=png" : user.photo %>
</div>
<div class="description flex columns">
  <h2><%= user %></h2>
  <div class="user-footer flex">
    <% if local_assigns[:create_post] %>
      <%= link_to 'New Post', new_post_path, class: 'btn btn-usr btn-new' %>
    <% end %>
    <%= render partial: 'counter', locals: { counter: { name: 'Total Posts', total: user.posts_counter } } %>
  </div>
</div>
