<section id="user-details" class="flex no-border">
  <%= render partial: 'user_basic', locals: { user: @user } %>
</section>
<section id="user-bio">
  <h3>Bio</h3>
  <p><%= @user.bio%></p>
</section>
<section id="user-recent-posts">
  <h3>Recently posted</h3>
  <div class="most-recent-list flex columns">
    <%= render partial: 'posts/post', layout: 'posts/article', collection: @posts %>
  </div>
</section>
<section id="user-actions" class="flex no-border">
  <%= link_to 'See all posts', user_posts_path(@user), class: 'btn btn-usr btn-all' %>
</section>
