:root {
  /* borders definitions */
  --bd-lig: 1px solid;
  --bd-reg: 2px solid;
  --bd-sbld: 3px solid;
  --bd-bold: 4px solid;
  --bd-black: 5px solid;

  /* box-shadows */
  --bx-sdw-lig: 0 0 4px;
  --bx-sdw-reg: 0 0 6px;
  --bx-sdw-bold: 0 0 9px;
}
