:root {
  /* color palette */

  /* primary-bg: #f5f5f5 / hsl(0, 0%, 96%) */
  --primary-bg: hsl(0, 0%, 96%);

  /* primary-tx: #333 / hsl(0, 0%, 20%) */
  --primary-tx: hsl(0, 0%, 20%);

  /* accent-pri: #0078d4 / hsl(206, 100%, 42%) */
  --accent-pri: hsl(206, 100%, 42%);

  /* accent-sec: #e34c26 / hsl(12, 77%, 52%) */
  --accent-sec: hsl(12, 77%, 52%);

  /* complement: #41a94a / hsl(125, 44%, 46%) */
  --complement: hsl(125, 44%, 46%);

  /* neutral: #777 / hsl(0, 0%, 47%) */
  --neutral: hsl(0, 0%, 47%);
}
