<div class="app-brand flex">
  <div class="app-logo">
    <%= image_tag 'logos/devthoughts-logo.svg' %>
  </div>
  <div class="app-name">
    <p><strong>Dev</strong></p>
    <p>Thoughts</p>
    <p><strong>Blog</strong></p>
  </div>
</div>
